* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
.titulo {
    text-align: center;
    padding: 1rem;
}

/* Tabla de productos */
.tabla {
    width: min(80rem, 90%);
    border-collapse: collapse;
    margin: 5rem auto;
    text-align: center;
}

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabla th {
    background-color: #f2f2f2;
    color: #333;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla tbody tr:hover {
    background-color: #f2f2f2;
}

.tabla td:last-child div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 80%;
    margin: 0 auto;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    background-color: teal;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar p {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.sidebar nav a:hover {
    background-color: #036b7f;
}

.content {
    padding: 20px;
    background-color: #EDF2F7;
}

@media (min-width: 968px) {
    .contenedor {
        flex-direction: row;
    }

    .sidebar {
        width: 20%;
    }

    .sidebar h2 {
        text-align: start;
    }
    
    .sidebar p {
        text-align: start;
    }

    .content {
        width: 80%;
    }
}